<!DOCTYPE html>
<html ng-app="MatchesApp">
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}

button {  
    margin-left: 121px;
    margin-top: 1px;
    width: 134px;
    height: 45px; 
    font-size:14px;
    font-weight:700;
}

.green{
  color:green;
}
.gray{
  color:gray;
}
</style>
<title>Chess Club, MATCHES</title>
<script type="text/javascript" src="lib/angular.min.js"></script>
<script type="text/javascript" src="lib/FileSaver.min.js"></script>

</head>
<body>
<div ng-controller="MatchesCtrl">
  <h2 align="center">Matches</h2>
  <button type="button" ng-click="loadMatches()">Restore</button>
  <button type="button" ng-disabled="resultsToBeRecorded != 0" ng-click="exportMatches()">Export Matches</button>
  <button type="button" ng-disabled="resultsToBeRecorded != 0" ng-click="exportStudents()">Export Students</button>

  <table cellspacing="2" cellpadding="0" border="0" width="800">
  <tr>
    <td>
       <table cellspacing="2" cellpadding="2" border="2" width="800" >
         <tr>
            <th>Match</th>
            <th>Who Won?</th>
         </tr>
       </table>
    </td>
  </tr>
  <tr>
    <td>
       <div style="width:825px; height:500px; overflow:auto;">
         <table cellspacing="0" cellpadding="1" border="1" width="800" >
          <tr ng-repeat="match in matches">
            <td>
              {{match.student1.firstName}}
	      {{match.student1.lastName}}
	      (Rank: {{match.student1.rank}})<br/>
	      -VS-<br/>
              {{match.student2.firstName}}
              {{match.student2.lastName}}
	      (Rank: {{match.student2.rank}})
            </td>
            <td>
              <input ng-disabled="match.completed" value="student1" ng-model="match.result" ng-click="resultClicked(match)" name="{{match.student1.firstName}}_result" type="radio"><br/>
	      <input ng-disabled="match.completed" value="draw" ng-model="match.result" ng-click="resultClicked(match)" name="{{match.student1.firstName}}_result" type="radio">Draw<br/>
              <input ng-disabled="match.completed" value="student2" ng-model="match.result" ng-click="resultClicked(match)" name="{{match.student1.firstName}}_result" type="radio">
            </td>
          </tr>
         </table>  
       </div>
    </td>
  </tr>
  </table>
 
<script>
  var app = angular.module('MatchesApp', []);
  app.controller('MatchesCtrl', function($scope) {
 
    $scope.resultsToBeRecorded = -1;

    $scope.generateMatches = function() {
      function isOneOpenInRange(students, min, max, current) {
        for(k = min; k <= max; ++k) {
          if(k != current && !students[k].matched) return true;
        }

        return false;
      }

      $scope.allStudents = JSON.parse(localStorage.getItem("students"))
      var signedInStudentsByRank = $scope.allStudents.filter(function(s) { return s.signedIn; }).
                                        sort(function(a, b) { return a.rank - b.rank; });
      console.log("in generateMatches, # of students to be matched: " + students.length);

      // No one is matched yet
      for(var i = 0; i < $scope.allStudents.length; ++i) {
        $scope.allStudents[i].matched = false;
        $scope.allStudents[i].newRank = $scope.allStudents[i].rank;
      }

      // Start to create the matches
      var matchBoundary = 4;

      $scope.matches = [];
      for(var i = signedInStudentsByRank.length - 1; i >= 0; --i) {
        if(signedInStudentsByRank[i].matched) {
          console.log("Student at index " + i + " is already matched, ignoring");
          continue;
        }

	      var min = i - matchBoundary;
	      var max = i + matchBoundary;
	      if(min < 0) min = 0;
	      if(max > signedInStudentsByRank.length - 1) max = signedInStudentsByRank.length - 1;

        console.log("Finding match for " + i + " ,starting with min: " + min + ", max: " + max);

        var possibleToMatch = true;
        while(!isOneOpenInRange(signedInStudentsByRank, min, max, i)) {
          if(min == 0 && max == signedInStudentsByRank.length - 1) {
            possibleToMatch = false;
            break;
          }
          min = min - 1;
          max = max + 1;

	        if(min < 0) min = 0;
	        if(max > signedInStudentsByRank.length - 1) max = signedInStudentsByRank.length - 1;

          console.log("Adjusting to min: " + min + ", max: " + max);
        }

        if(!possibleToMatch) {
          console.log("NOT possible to match " + i);
          continue;
        }

        do {
          var randomIndex = Math.floor(Math.random() * (max - min + 1)) + min;
          console.log("Will try match " + i + " with " + randomIndex);
        } while(i == randomIndex || signedInStudentsByRank[randomIndex].matched);
        console.log("Will match " + i + " with " + randomIndex);
        signedInStudentsByRank[i].matched = true;
        signedInStudentsByRank[randomIndex].matched = true;

        match = {};
	      match.student1 = {};
	      match.student1.firstName = signedInStudentsByRank[i].firstName;
	      match.student1.lastName = signedInStudentsByRank[i].lastName;
	      match.student1.rank = signedInStudentsByRank[i].rank;

	      match.student2 = {};
	      match.student2.firstName = signedInStudentsByRank[randomIndex].firstName;
	      match.student2.lastName = signedInStudentsByRank[randomIndex].lastName;
	      match.student2.rank = signedInStudentsByRank[randomIndex].rank;

        $scope.matches.push(match);
      }

      $scope.resultsToBeRecorded = $scope.matches.length;

      console.log("matches: " + JSON.stringify($scope.matches));
    };

     $scope.loadMatches = function() {
      console.log("in loadMatches");
      $scope.matches = JSON.parse(localStorage.getItem("matches"));
    };

    $scope.exportMatches = function() {
      console.log("in exportMatches");

      var blob = new Blob([JSON.stringify($scope.matches, null, 2)], {type: "text/plain;charset=utf-8"});
      saveAs(blob, "matches-" + new Date().toJSON().slice(0,10) + ".txt");
    };

    $scope.exportStudents = function() {
      console.log("in exportStudents");

      // Keep track of the number of consequetive no showups
      for(var i = 0; i < $scope.allStudents.length; ++i) {
        var student = $scope.allStudents[i];
        if(student.signedIn) student.missedSignins = 0;
        else {
          student.missedSignins++;
          // If a student has missed 2 consequetive signing, drop the rank by 3 places (1 to 4 and so on...)
          if(student.missedSignins >= 2) student.newRank = student.rank + 3.5;
        }
      }

      // assign new ranks starting with 1
      var students = $scope.allStudents.sort(function(a, b) { return a.newRank - b.newRank; });
      for(var i = 0; i < students.length; ++i) {
        students[i].rank = i + 1;
      }

      // And save
      var blob = new Blob([JSON.stringify(students, null, 2)], {type: "text/plain;charset=utf-8"});
      saveAs(blob, "students-" + new Date().toJSON().slice(0,10) + ".txt");
    };

    $scope.resultClicked = function(match) {
      console.log("in resultClicked");

      $scope.resultsToBeRecorded--;

      function findStudent(firstName, lastName) {
        for(var i = 0; i < $scope.allStudents.length; ++i) {
          var s = $scope.allStudents[i];
          if(s.firstName === firstName && s.lastName === lastName)
            return s;
        }
      }

      var student1 = findStudent(match.student1.firstName, match.student1.lastName);
      var student2 = findStudent(match.student2.firstName, match.student2.lastName);

      var student1MatchInfo = {};
      student1MatchInfo.firstName = student2.firstName;
      student1MatchInfo.lastName = student2.lastName;

      var student2MatchInfo = {};
      student2MatchInfo.firstName = student1.firstName;
      student2MatchInfo.lastName = student1.lastName;

      if(match.result == "draw") {                     // Draw
        student1MatchInfo.result = "draw";
        student2MatchInfo.result = "draw";

        if(student1.rank > student2.rank) {
          student1.newRank = match.student1.newRank = match.student2.rank + 0.1;
        } else {
          student2.newRank = match.student2.newRank = match.student1.rank + 0.1;
        }
      } else if(match.result == "student1") {          // Student 1 has won
        student1MatchInfo.result = "won";
        student2MatchInfo.result = "lost";

        if(match.student1.rank > match.student2.rank) {
          student1.newRank = match.student1.newRank = match.student2.rank - 0.1;
        }
      } else if (match.result == "student2") {        // Student 2 has won
        student1MatchInfo.result = "lost";
        student2MatchInfo.result = "won";

        if(match.student2.rank > match.student1.rank) {
          student2.newRank = match.student2.newRank = match.student1.rank - 0.1;
        }
      }

      console.log("Rank of " + student1.firstName + " " + student1.lastName + " is now " + student1.newRank);
      console.log("Rank of " + student2.firstName + " " + student2.lastName + " is now " + student2.newRank);

      match.completed = true;

      if(student1.matches.length >= 3) students1.matches = students1.matches.splice(0, 1);
      if(student2.matches.length >= 3) students2.matches = students2.matches.splice(0, 1);

      student1.matches.push(student1MatchInfo);
      student2.matches.push(student2MatchInfo);
      
      localStorage.setItem("matches", JSON.stringify($scope.matches));
    };

    $scope.generateMatches();
  });
</script>
</body>
</html>

