<!DOCTYPE html>
<html ng-app="RankingApp">
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}

button {
    margin-left: 10px;
    margin-top: 1px;
    width: 84px;
    height: 45px; 
    font-size:14px;
    font-weight:700;
}

.green{
  color:green;
}
.gray{
  color:gray;
}

.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}

</style>
<title>Chess Club, RANKING</title>
<script type="text/javascript" src="lib/angular.min.js"></script>
<script type="text/javascript" src="lib/FileSaver.min.js"></script>

</head>
<body style="width: 850px">
<div ng-controller="RankingCtrl">
  <h2 align="center">Student Rankings</h2>
  <fieldset>
  <input type="file" onchange="angular.element(this).scope().fileSelected(this)">
  <button ng-click="saveFile()">Save</button>
  <button style="flat: right" ng-disabled="modified" ng-click="startSignin()">Start Signin</button>
  </fieldset>

  <br/>

  <table cellspacing="2" cellpadding="0" border="0" width="800">
  <tr>
    <td>
       <table cellspacing="2" cellpadding="2" border="2" width="800" >
         <tr>
            <th>
              <button ng-click="order('firstName')">First Name</button>
              <span class="sortorder" ng-show="predicate === 'firstName'" ng-class="{reverse:reverse}"></span>
	    </th>
            <th>
              <button ng-click="order('lastName')">Last Name</button>
              <span class="sortorder" ng-show="predicate === 'lastName'" ng-class="{reverse:reverse}"></span>
	    </th>
            <th>
              <button ng-click="order('rank')">Rank</button>
              <span class="sortorder" ng-show="predicate === 'rank'" ng-class="{reverse:reverse}"></span>
	    </th>
            <th>
              Operation
	    </th>
         </tr>
       </table>
    </td>
  </tr>
  <tr>
    <td>
       <div style="width:825px; height:500px; overflow:auto;">
         <table cellspacing="0" cellpadding="1" border="1" width="800" >
          <tr ng-repeat="student in students | orderBy:predicate:reverse track by (student.firstName + student.lastName)">
            <td>{{student.firstName}}</td>
            <td>{{student.lastName}}</td>
            <td>{{student.rank}}</td>
            <td>
             <label ng-click="remove($index)">X</label>
             <label ng-click="up($index)">&#8679;</label>
             <label ng-click="down($index)">&#8681;</label>
            </td>
          </tr>
         </table>  
       </div>
    </td>
  </tr>
  </table>

  <fieldset>
    <legend>Add Student</legend>
    <label>First Name</label><input type="text" ng-model="firstName"><br />
    <label>Last Name</label><input type="text" ng-model="lastName"><br />
    <label>Rank</label><input type="number" ng-model="rank"><br />
    <button ng-disabled="!validInput()" type="button" ng-click="addRow()">Add</button>
  </fieldset>

<script>
  var app = angular.module('RankingApp', []);
  app.controller('RankingCtrl', function($scope) {

    $scope.modified = false;
 
    $scope.students = [];
    $scope.firstName='';
    $scope.lastName='';
    $scope.rank=1;

    $scope.predicate = 'rank';
    $scope.reverse = false;

    $scope.order = function(predicate) {
      $scope.reverse = ($scope.predicate === predicate) ? !$scope.reverse : false;
      $scope.predicate = predicate;
    };

    $scope.fileSelected = function(fileInput) {
      $scope.fileName = fileInput.files[0].name;
      console.log("Loading file: " + $scope.fileName);

      var reader = new FileReader();
      reader.onload = (function(theFile) {
        //console.log("theFile: " + theFile);
        //console.log("contents: " + reader.result);
        var students = JSON.parse(reader.result);

        // Sort by rank
        $scope.students = students.sort(function(a, b) {
          if(a.rank > b.rank) return 1;

          return -1;
        });

        $scope.rank = $scope.maxRank() + 1;

        $scope.$apply();
      });

      reader.readAsText(fileInput.files[0]);
    };

    $scope.saveFile = function() {
      var blob = new Blob([JSON.stringify($scope.students, null, 2)], {type: "text/plain;charset=utf-8"});
      if($scope.fileName == null) $scope.fileName = "students.txt";
      saveAs(blob, $scope.fileName);

      $scope.modified = false;
    };

    $scope.reRank = function() {
      var students = $scope.students.sort(function(a, b) { return a.rank - b.rank; });
      for(var i = 0; i < students.length; ++i) {
        students[i].rank = i + 1;
      }

      $scope.students = students;
    };

    $scope.maxRank = function() {
      var max = 0;
      if($scope.students) {
        if($scope.students.length == 1)
          max = $scope.students[0].rank;
        else
          max = $scope.students.reduce(function(a, b){ return a.rank > b.rank ? a.rank : b.rank; });
      }

      return max;
    };

    $scope.validInput = function() {
      return $scope.firstName != '' && $scope.lastName != '' && $scope.rank != '';
    }

    $scope.addRow = function() {
      // Ensure this "new" student does not already exist
      for(var i = 0; i < $scope.students.length; ++i) {
        var student = $scope.students[i];
	if(student.firstName === $scope.firstName && student.lastName === $scope.lastName) {
          alert("Student " + $scope.firstName + " " + $scope.lastName + " already exits!");
	  return;
        }
      }

      $scope.students.push({
        'firstName' : $scope.firstName,
        'lastName' : $scope.lastName,
        'rank': $scope.rank,
        'matches' : []
        });
      $scope.reRank();

      $scope.firstName='';
      $scope.lastName='';
      $scope.rank= $scope.maxRank() + 1;

      $scope.modified = true;
    };

    $scope.remove = function(index) {
      console.log("In remove with index: " + index);
      $scope.students.splice(index, 1);

      $scope.reRank();

      $scope.modified = true;
    };

    $scope.up = function(index) {
      console.log("In up with index: " + index);
      $scope.students[index].rank = $scope.students[index].rank - 1.5

      $scope.reRank();

      $scope.modified = true;
    };

    $scope.down = function(index) {
      console.log("In down with index: " + index);
      $scope.students[index].rank = $scope.students[index].rank + 1.5

      $scope.reRank();

      $scope.modified = true;
    };

    $scope.startSignin = function() {
      window.location = "signin.html";
    };
  });
</script>
</body>
</html>

